*{
  margin: auto;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  border: 5px solid white;
}

.content {
  background: #e3f4ff;
  padding: 20px;
  border: 5px solid white;
  margin: auto;
}

.button-container {
  background: #e3f4ff;
  border: 5px solid white;
  padding: 20px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 130px;
}